
#header {
  background-image: url(./images/urban.jpg);
  height: 400px;
  background-repeat:no-repeat;
}

#topbanner {
  background-image: url(../styles/images/writer.jpg);
  height: 400px;
  background-repeat:no-repeat;

}

#banner {
  background-image: url(./images/wellington.jpg);
  height: 400px;
  background-repeat:no-repeat;

}


body {
  background-color: #161616;
}


h1 {
    color: white;
    text-align: left;;
    padding-left: 10px;
    padding-top: 330px;
    font-family: HelloStockholm;
    font-style: italic;
}

p {
  text-align: center;
  font-family: Courier;
	color: #dee0e2;
	font-size:20px;
}


h2{
    color: white;
    text-align: center;
    font-family: Courier;
    font-style: italic;
    font-size: 20px;

}

h3{
    color: white;
    text-align: center;
    font-family: Courier;
    font-style: italic;
    font-size: 20px;

}


h4 {
    color: black;
    text-align: left;;
    padding-left: 10px;
    padding-top: 330px;
    font-family: Courier;
    font-style: italic;
    font-size: 20px;

}

.underline{
  text-decoration: underline;
}

.blackground {
  background-color: #161616;

}
