body {
  background-image: url("images/stripes.png");
  background-attachment: fixed;
  padding-left: 100px;
  padding-right: 100px;
}

h1 {
    color: #c44003;
    text-align: center;
}

h2 {
  text-align: center;
  font-family: Courier;
	color: grey;
	font-size:20px;
}

p {
  text-align: center;
  font-family: Courier;
	color: grey;
	font-size:20px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
