body {
  background-image: url("images/pattern.jpg");
  background-attachment: fixed;
  padding-left: 100px;
  padding-right: 100px;
}

h1 {
    color: #c44003;
    text-align: center;
}

h2 {
  text-align: center;
}
